<app-home></app-home>

<hr>
<div class="container">
    <h3 class="mt-5 mb-3">Add new Book</h3>

    <div class="mb-3">
        <label class="form-label">Title:</label>
        <input class="form-control" type="text" [(ngModel)]="book.title" [readonly]="readonly">
    </div>

    <div class="mb-3">
        <label class="form-label">Author:</label>
        <input class="form-control" type="text" [(ngModel)]="book.author" [readonly]="readonly">
    </div>

    <div class="mb-3">
        <label class="form-label">ISBN:</label>
        <input class="form-control" type="text" [(ngModel)]="book.isbn" [readonly]="readonly">
    </div>

    <div class="mb-3">
        <label class="form-label">Published Date:</label>
        <input class="form-control" type="date" [(ngModel)]="formattedPublishedDate" [readonly]="readonly">
    </div>

    <div class="mb-3">
        <button class="btn btn-primary" *ngIf="!readonly" (click)="onSubmit()">Submit</button>
        <button class="btn btn-primary" [routerLink]="['/list']">Back</button>
    </div>
</div>